---
title: "Blog"
layout: archive.html
permalink: "blog/{% if pagination.pageNumber>0 %}page-{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
classes: blog-index
header:
  overlay_image: /assets/images/header_dsc.jpg
  overlay_filter: 0.5
pagination:
  data: collections.posts
  size: 10
---

{%- for post in pagination.items -%}
{% assign preview_image = post.data.header.overlay_image | default: post.data.header.teaser | default: post.data.header.image %}
<article class="blog-preview">
    {% if preview_image %}
    <a class="blog-preview__image-link" href="{{post.data.permalink}}">
        <div class="archive__item-teaser blog-preview__teaser">
            <img src="{{ preview_image | relative_url }}" alt="{{ post.data.title | default: '' }}">
        </div>
    </a>
    {% endif %}
    <div class="blog-preview__body">
        <h2><a href="{{post.data.permalink}}">{{ post.data.title }}</a></h2>
        <em>{{ post.data.date | toUTCString}}</em>
        <div class="archive__item-excerpt">{{ post.templateContent | description }} <a href="{{post.data.permalink}}"><em>read more</em></a></div>
    </div>
</article>
{%- endfor -%}

<ul class="pagination">
  <li>
      {% if pagination.href.first and pagination.href.previous %}
          <a href="{{ pagination.href.first }}" class="pagination">First</a>
      {% else %}
          <a href="#" class="pagination disabled">{{ "First" }}</a>
      {% endif %}
  </li>
  <li>
      {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="pagination">Previous</a>
      {% else %}
          <a href="#" class="pagination disabled">{{ ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% endif %}
  </li>

  <li>
  <a href="#" class="pagination current">Page {{ pagination.pageNumber | plus: 1 }}</a>
  </li>

  <li>{% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="pagination">Next</a>
      {% else %}
          <a href="#" class="pagination disabled">{{ ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% endif %}
  </li>
  <li>
      {% if pagination.href.first and pagination.href.next %}
          <a href="{{ pagination.href.last }}" class="pagination">Last</a>
      {% else %}
          <a href="#" class="pagination disabled">{{ "Last" }}</a>
      {% endif %}
  </li>
</ul>
